[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "globpso"]
	path = globpso
	url = https://github.com/pingyangchen/globpso
[submodule "milr"]
	path = milr
	url = https://github.com/pingyangchen/milr
